# 忽略系统默认生成的文件——单个文件夹的
# 将具体路径和文件加进来
.idea/awesome-python-io.iml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/markdown-navigator/profiles_settings.xml

.idea/dataSources/
venv/
