{% extends 'base.html' %}
{% load album_tags blog_tags %}
{% block title %}夕阳丨记录生活{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
{% endblock keywords %}

{% block body %}

    <div id="wrapper">
        <div class="content-wrap">
            <div class="row mt-3">
                <div class="card-columns">
                    {% get_album_list as albumns %}
                    {% for album in albumns %}
                        <div class="card hvr-float-shadow" style="word-break: break-all;">
                            <!-- Button trigger modal -->
                            <a href="javascript:" data-toggle="modal" data-target="#{{ album.number }}"
                               class="card-link text-muted">
                                <div style="overflow: hidden">
                                    <img src="{{ album.img_url }}"
                                         style="max-width: 100%; transition-duration: 1s;" alt="图片"
                                         class="card-img-top hvr-grow">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ album.name }}
{#                                        <span>#}
{#                                        <a href="javascript:" class="hvr-icon-buzz-out no-underline"#}
{#                                           style="color: #C0C1C3; float: right"#}
{#                                           onclick="animocons_handler(this, '/extends/increase-likes/album/7', {{ album.number }}, 42, 'album')"#}
{#                                        >#}
{#                                            <button class="icobutton icobutton_7">#}
{#                                                <i class="fas fa-heart hvr-icon"></i>#}
{#                                            </button>#}
{#                                            <span id="likes_7" class="icobutton--heart"#}
{#                                                  data-id="{{ album.num }}"#}
{#                                                  data-type="album">#}
{#                                                {{ album.loves }}#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </span>#}
                                    </h5>
                                </div>
                            </a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ album.number }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ album.img_url }}"
                                             style="max-width: 100%;position: center "
                                             alt="img"
                                        >
                                    </div>
                                    <div class="modal-body text-muted">
                                        <p>
                                            {{ album.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock body %}
<script src="/static/js/mo.min.js"></script>
<script src="/static/js/anime.min.js"></script>
<script src="/static/js/animocons_likes.js"></script>